body {
  background: url('https://img.freepik.com/premium-vector/vector-illustration-blue-sky-with-white-clouds-background_8589-482.jpg');
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.weatherBox {
  border: 3px solid white;
  padding: 50px;
  border-radius: 30px;
  background-color: beige;
}
