body {
  background: url('https://thumbs.dreamstime.com/b/sunny-weather-green-nature-background-illustration-style-sunny-weather-green-nature-background-illustration-style-theme-325545055.jpg');
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
